providers:
  # use Docker
  docker:

  # supply your dynamic config file(s)
  file:
    directory: /etc/traefik/dynamic

# the ports we'll listen on, HTTP (80) and HTTPS (443)
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: YOUR-EMAIL-HERE
      # where the certificates obtained by Let's Encrypt will be stored
      storage: /etc/traefik/letsencrypt/acme.json
      # staging Let's Encrypt server, use this for tests
      # Removing this line asks the production Let's Encrypt server
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      httpChallenge:
        # used during the ACME challenge to obtain TLS certificates
        entryPoint: web

# Traefik log configuration
accessLog:
  filePath: "/var/log/traefik/access.log"

# The CrowdSec plugin for blocklists and behavioural analysis
experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.6
